@model MuvyHub.Models.CreateUserViewModel
@{
    ViewData["Title"] = "Create New User";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-bg-dark border-secondary">
                <div class="card-body p-4">
                    <h2 class="card-title text-center mb-4">Create User</h2>
                    <form asp-action="CreateUser" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" autocomplete="off" placeholder="name@example.com" />
                            <label asp-for="Email" class="form-label"></label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" autocomplete="new-password" placeholder="password" />
                            <label asp-for="Password" class="form-label"></label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="confirm password" />
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-lg btn-spotify">Create User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
