@model MuvyHub.Models.Person

<div class="modal-header">
    <h5 class="modal-title text-danger">Delete Confirmation</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <p>Are you sure you want to delete <strong>@Model.FullName</strong>?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-danger" id="confirmDeleteBtn" data-id="@Model.Id">Delete</button>
</div>